<div class="row">
    <div class="col-md-6 col-lg-12">
        <div class="form-group">
            <label for="exampleFormControlSelect1">States and cities</label>
            <select class="form-control" (change)="onStateChange($event)" id="exampleFormControlSelect1">
              <option selected disabled>select state</option>  
              <option *ngFor="let data of stateData" [value]="data.state">{{data.state}}</option>
            </select>
          </div>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let city of cities">{{city}}</li>
          </ul>
    </div>
    <br />
    <div class="col-md-6 col-lg-12 gmap">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="3" [rotateControl]="true">
            <agm-marker [latitude]='lat' [longitude]='lat'></agm-marker>
        </agm-map>
    </div>
</div>